# EDA-1
## Dataset: Reporte Delito Terrorismo

In [1]:
# Importando todas las librerías requeridas para el análisis

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import scipy.stats

In [2]:
# Cargando el archivo commo dataframe
df_Terr = pd.read_csv("./data/Reporte_Delito_Terrorismo_Polic_a_Nacional.csv")

In [3]:
# Mostrando las dimensiones del dataframe
df_Terr.shape

(3687, 6)

In [4]:
# Verificando los tipos de datos de las columnas
# Debido a la naturaleza de los datos, el punto 3 y 5 no aplican.
df_Terr.dtypes

Departamento    object
Municipio       object
CODIGO DANE      int64
ARMAS MEDIOS    object
FECHA HECHO     object
CANTIDAD         int64
dtype: object

In [5]:
# Imprimiendo los primeros 10 registros
df_Terr.head(10)

,Departamento,Municipio,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,CANTIDAD
0,PUTUMAYO,MOCOA (CT),86001000,ARTEFACTO EXPLOSIVO/CARGA DINAMITA,05/01/2010,1
1,ARAUCA,TAME,81794000,ARTEFACTO INCENDIARIO,06/01/2010,1
2,META,VILLAVICENCIO (CT),50001000,GRANADA DE MANO,06/01/2010,1
3,ARAUCA,FORTUL,81300000,CILINDRO BOMBA,07/01/2010,1
4,META,URIBE,50370000,MINA ANTIPERSONA,11/01/2010,1
5,PUTUMAYO,MOCOA (CT),86001000,COMBUSTIBLE,13/01/2010,1
6,META,PUERTO RICO,50590000,MINA ANTIPERSONA,14/01/2010,1
7,VALLE,BUENAVENTURA,76109000,OLLA BOMBA,14/01/2010,1
8,ARAUCA,ARAUQUITA,81065000,ARTEFACTO EXPLOSIVO/CARGA DINAMITA,15/01/2010,1
9,META,URIBE,50370000,GRANADA DE MANO,15/01/2010,1

### Conversión de Object a datetime sobre la columna *FECHA HECHO*

In [6]:
df_Terr['FECHA HECHO']= pd.to_datetime(df_Terr['FECHA HECHO'], errors='raise', dayfirst=True)

In [7]:
# Verificando los tipos de datos de las columnas para verificar la conversión
df_Terr.dtypes

Departamento            object
Municipio               object
CODIGO DANE              int64
ARMAS MEDIOS            object
FECHA HECHO     datetime64[ns]
CANTIDAD                 int64
dtype: object

### Eliminación de registros duplicados

In [8]:
df_Terr.drop_duplicates(keep=False,inplace=True)

In [9]:
df_Terr.shape

(3677, 6)

### Top departamentos más afectados por el delito

In [10]:
n_by_dep = df_Terr.groupby("Departamento")["CANTIDAD"].count()

In [11]:
# Solución del primer punto, los 3 departamentos más afectados históricamente son Antioquia, Arauca y Nariño
n_by_dep.sort_values(ascending = False)

Departamento
ANTIOQUIA             635
ARAUCA                347
NARIÑO                335
CAUCA                 317
META                  312
NORTE DE SANTANDER    304
PUTUMAYO              285
HUILA                 159
VALLE                 149
TOLIMA                133
GUAJIRA               112
CHOCÓ                 111
CUNDINAMARCA           94
GUAVIARE               66
CAQUETÁ                60
CASANARE               49
CESAR                  48
MAGDALENA              35
BOYACÁ                 32
SANTANDER              26
BOLÍVAR                23
QUINDÍO                11
CÓRDOBA                 9
CALDAS                  7
ATLÁNTICO               6
VICHADA                 5
RISARALDA               3
SUCRE                   2
AMAZONAS                2
Name: CANTIDAD, dtype: int64

In [12]:
# Filtro para encontrar los 3 departamentos más afectados en el último año, los cuales son son Arauca, Chocó y Norte de Santander
start_date = "2021-1-1"
end_date = "2021-1-31"

after_start_date = df_Terr["FECHA HECHO"] >= start_date
before_end_date = df_Terr["FECHA HECHO"] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = df_Terr.loc[between_two_dates]

n_by_dep_last_year = filtered_dates.groupby("Departamento")["CANTIDAD"].count()
n_by_dep_last_year.sort_values(ascending = False)

Departamento
ARAUCA                7
CHOCÓ                 4
NORTE DE SANTANDER    3
ANTIOQUIA             2
META                  2
CASANARE              1
Name: CANTIDAD, dtype: int64

### Top armas/medios más utilizados para el delito

In [13]:
n_by_dep = df_Terr.groupby("ARMAS MEDIOS")["CANTIDAD"].count()

In [14]:
# Solución del segundo punto, el arma más utilizada históricamente es el artefacto explosivo/carga dinamita.
n_by_dep.sort_values(ascending = False)

ARMAS MEDIOS
ARTEFACTO EXPLOSIVO/CARGA DINAMITA    1562
GRANADA DE MANO                        761
COMBUSTIBLE                            321
ARTEFACTO INCENDIARIO                  254
ARMA DE FUEGO                          157
MINA ANTIPERSONA                       149
NO REPORTADO                           129
PAQUETE BOMBA                           77
CILINDRO BOMBA                          63
CARRO BOMBA                             46
MOTO BOMBA                              29
-                                       24
GRANADA DE MORTERO                      22
OLLA BOMBA                              19
SIN EMPLEO DE ARMAS                     18
GRANADA DE FUSIL                        12
PETARDO PLANFETARIO                      7
BALON BOMBA                              6
ROCKET                                   5
CANTINA BOMBA                            3
PAPA EXPLOSIVA                           3
CASA BOMBA                               2
LANCHA BOMBA                             2
CABALLO BOMBA                            2
CARTA BOMBA                              1
BURRO BOMBA                              1
BICICLETA BOMBA                          1
PERSONA BOMBA                            1
Name: CANTIDAD, dtype: int64

### Tendencia a cometer delito según el mes

In [31]:
# Solución del cuarto punto, se evidencia una tendencia de aumento en el delito para el mes de Mayo.
n_by_month = df_Terr.groupby(pd.Grouper(key='FECHA HECHO', axis=0, 
                      freq='M')).sum()

In [34]:
n_by_month

             CODIGO DANE  CANTIDAD
FECHA HECHO
2010-01-31    1306254000        24
2010-02-28    1077800000        22
2010-03-31    1218613000        23
2010-04-30    1243071000        25
2010-05-31    1250683000        34
...                  ...       ...
2021-03-31     172910000        15
2021-04-30     314553000        12
2021-05-31    1242285000        27
2021-06-30     426720000        17
2021-07-31     100738000         3

[139 rows x 2 columns]